*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Arial, sans-serif;
}
main{
  width:60vh;
  height:100vh;
  margin:auto;
}
.bckImg{
  width:100%;
  height:33.3%;
  position: relative;
}

#img1{
  width:100%;
  height:33.3%;
  background-image:url("https://images.unsplash.com/photo-1465963374564-44c306bc49dd?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920");
  background-size: cover;
}
#img2{
  background-image: url("https://images.unsplash.com/photo-1500198894528-3819de6ad916?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920");
  background-size: cover;
}
#img3{
  background-image: url("https://images.unsplash.com/photo-1497262693247-aa258f96c4f5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920");
  background-size: cover;
}

h1{
  width:100%;
  text-align:center;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 60px;
  text-transform:uppercase;
}
.hoverEffect{
  position: absolute;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index:1
}
.hoverEffect:hover{
      background: rgba(0,0,0,0)
  }
  .hoverEffect:hover+h1{
        color:#fff
    }
